on:
  workflow_call:
    inputs:
      debug:
        type: boolean
        required: false
        default: false
      collection:
        type: string
        required: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up system
        uses: ./.manala/github/system/setup

      - name: Lint
        uses: ./.manala/github/system/run
        with:
          run: |
            cd ${{ inputs.collection }}
            make lint VERBOSE=1

      - name: Debug
        uses: mxschmitt/action-tmate@v3
        if: ${{ inputs.debug && always() }}
        timeout-minutes: 15
